<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>PROJETO APIS</title>


</head>

<body>  
    <div class = "container">
        
        <div class = "row">
            <div class = "col-md-12">
                <nav class="navbar navbar-default navbar-static-top navbar-inverse">
                    <div class="container">
                      <ul class="nav navbar-nav">

                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="vou colocar algo ainda">Chamar a API de conselho</a></li>
                              <li><a href="vou colocar algo ainda">Passar esse texto pra API de traduções engraçadas</a></li>
                              <li><a href="vou colocar algo ainda">Traduzir o texto da api de conselho pra português</a></li>
                              <li><a href="vou colocar algo ainda">Mostrar o texto em português</a></li>
        
                            </ul>
                        </li>
                      </ul>
                    </div>
                  </nav>
        </div>

        <footer>
            <p class="text-center text-muted">Projeto brunosw74</p> 
        </footer>
    </div>

</body>
