<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>PROJETO APIS</title>

</head>



<body bgcolor="pink">

    <script src="server.js"></script>

    
  <h4>Projeto de APIs</h4>                         
      < ><em> API de conselho</em><>
      <br>
      <><em>Passar esse texto pra API de traduções engraçadas</em><>
      <br>
      <><em>Traduzir o texto da api de conselho pra português</em><>

      <script src="server.js"></script>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="text-center text-muted">Projeto com fins educativos.</p> 
        </footer>
    </div>

</body>

